<h4>Entrar:</h4>
<div class="card">
    <form action="/usuarios/login" method="POST">
        <div class="card-body">
        <label for="emaim">Email:</label>
        <input type="email" class="form-control" name="email">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" name="senha"><br>
        <button class="btn btn-success"type="submit">entrar</button>
    </div>
    </form>
</div>